/*Makes the image scale both up and down on responsiveness*/
.responsiveImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Use if ypu want a max width on the image (not used) */
.responsiveImg_mw {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
}