.imgSlider {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  box-sizing: border-box
}

@media only screen and (max-width: 600px) {
  .desktopImg{display:none; visibility: hidden;}
  .mobileImg{display:block; visibility: visible;}
}

@media only screen and (min-width: 601px) {
  .desktopImg{display:block; visibility: visible;}
  .mobileImg{display:none; visibility: hidden;}
}