/* BODY styling */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: -webkit-fill-available;
    box-sizing: border-box;
    /* sets the background */
    background-attachment: fixed;
    background-color: #0080FF; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #0080FF, purple); /* Standard syntax (must be last) */
}

h2 {
    font-size: 1.17em;
}

/* NAVIGATIONBAR styling */
/* Add a background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    /*border-bottom: solid thin white;*/
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the text color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    font-weight: bold;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav .userIcon {
    float: right;
}

/* 'i' tags (font awesome) inside the active class*/
.active i {
    size: 30px;
}


/* USER page styling */
#singleUserBarcode {
    width: 40%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

#singleUserBarcode img {
    width: 100%;
}

#singleUser {
    text-align: center;
}

.userName {
    font-size: 30px;
    font-weight: bold;
}
.userPoints {
    font-size: 30px;
    font-weight: bold;
}

.show {
    display: block;
}
    
.fa-bars::after {
    content: "menu";
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 100;
    font-size: 12px;
}

.logoImage {
    height: 17px;
    border: 0;

}
/* Styling of the cards of OFFER LIST, EVENT LIST, SHOP LIST, VOUCHER LIST */
.listContainer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.card {
    max-width: 350px;
    display: block;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

/* Styling of the SHOP page, with filters */
.shopCard {
    max-width: 350px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    display: none;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    font-weight: bold;
    color: black;
}

/* LOGIN/SIGN UP styling */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

button {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    color: blueviolet;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.signUpLoginBtn {
    width: 100%;
}

#redeem {
    width: 100%;
    cursor: pointer;
}

.voucherSuccess {
    color: lightgreen;
}

.voucherError {
    color: red;
}

.voucherBtnSuccess {
    color: white;
    background-color: Green;
}

.voucherBtnError {
    color: white;
    background-color: red;
}

.goBackContainer {
    width: calc(100% - 10px);
    background: white;
    color: royalblue;
    font-size: 25px;
    padding: 5px;
}

.goBackContainer p {
    text-align: center;
    margin: 0;
}

.goBackButton {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 7px;
    float: left;
    width: 26%;
    position: absolute;
    cursor: pointer;
}

.goBackButton::before {
    content: "\f104 ";
    font-family: FontAwesome;
    font-size: 20px;
}

.readMoreButton {
    border-radius: 4px;
    margin: 0;
    padding: 7px;
    float: right;
    width: 35%;
    cursor: pointer;
    color: #000;
}

.readMoreButton:hover {
    background-color:rgb(206, 206, 206);
}

.readMoreButton::after {
    content: " \f138";
    font-family: FontAwesome;
    font-size: 14px;
}

/* Standart img styling */
.image {
    width: 100%;
}

/* Container with logo of the shop, on the offers and voucher list */
.listLogoContainer {
    z-index: 999;
    margin: 0 auto;
    width: 30%;
}

/*Makes the image scale both up and down on responsiveness*/
.mapImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


/* Image slideshow */
.imgSlider {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  box-sizing: border-box
}


/* Animation zoomIn for User points  */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

/* When the screen is less than 600 pixels wide: */
@media screen and (max-width: 600px) {
    /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
        color: white;
    }
    .topnav a.userIcon {
        float: right;
        display: block;
        color: white;
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
    }
    .topnav.responsive .userIcon {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        border-bottom: solid thin white;
    }

    #singleUserBarcode{
        width: calc(100% - 40px); 
    }
    .desktopImg {
        display:none;
        visibility: hidden;
    }
    .mobileImg {
        display:block;
        visibility: visible;
    }
    h1 {
        font-size: 1.5em;
    }
}

/* When the screen is more than than 600 pixels wide: */
@media all and (min-width: 601px) {
    .card {
        margin-right: 10px;
    }
    .shopCard {
        margin-right: 10px;
    }
    .desktopImg {
        display:block;
        visibility: visible;
    }
    .mobileImg {
        display:none;
        visibility: hidden;
    }
}